data/
learning/out*
*__pycache*
mwe*
.idea/
archive_logs/
load_data/*.mrc
load_data/*.pdb
logs/
archive_logs/old_logs/
prepare_database/result_mapping.p
prepare_database/rotated.mrc
saved_models/
toto.py
utils/rotated.mrc
outfiles
